.vs/**
dehasher/obj/**
extractor/obj/**
randomer/obj/**
android_bins/**
extracted/**
ps3_bins/**
ps4_bins/**
switch_bins/**
x64/**
sdbm_bruter1/x64/Debug/**
sdbm_bruter1/x64/Release/**
*.config
*.pdb
hash*_log.txt
list.txt
*.exe
good.txt
hash_nf.txt